<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ankitkumar/IdeaProjects/Testing_baba">
        <classes>
            <class name="testbaba_test.Button_test"/>
<!--            <class name="testbaba_test.Check_test"/>-->
<!--            <class name="testbaba_test.Text_test"/>-->
        </classes>
    </test>
</suite>